

body{
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("pokertable.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

/* Modal content box */
.modal-content {
  display: block;
  border-radius: 10px;
  border: 2px solid black;
  width: 630px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 50px;
  /* Offset slightly lower while keeping center alignment */
  transform: translateY(10%);
  margin-left: 80px;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
}

p{
    font-size: 1.2rem;
    margin-bottom: 50px;
    text-align: left;
}

h2 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 40px;
    display: block;
}

input{
    padding: 10px;
    font-size: 1rem;
    width: 590px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    align-items: left;
}

button {
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.social-buttons button {
    margin: 20px 20px 0px 0px;
    border: 2px solid white;

}

#reset-el {
    border: 2px solid white;
    width: 590px;
    height: 50px;
}

#login-btn, #register-btn {
    width: 100px;
    height: 50px;
    margin: 20px 0px 10px 0px;

}
#login-btn {
    margin-left: 350px;
}