  body {
      font-family: Arial, sans-serif;
      background-color: #006400;
      color: white;
      text-align: center;
      padding: 20px;
    }

    .balance {
      font-size: 1.2rem;
      background-color: #333;
      padding: 10px;
      border-radius: 8px;
      display: inline-block;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    #bet-section {
      margin-bottom: 20px;
    }

    #bet-section input {
      padding: 8px;
      font-size: 1rem;
      width: 100px;
    }

    #bet-section button {
      padding: 8px 15px;
      font-size: 1rem;
      margin-left: 10px;
      cursor: pointer;
    }

    
    #cards {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    #card {
      width: 80px;
      height: 120px;
      margin: 0 5px;
      border-radius: 8px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      background-size: cover;
      background-position: center;
    }

    .actions button {
      background-color: yellow;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }

    #sum {
      font-size: 1.2rem;
      margin-top: 10px;
    }